djangorestframework
djangorestframework-simplejwt
pillow
qrcode
django-filter
python-dotenv
gunicorn
requests
whitenoise
django-cors-headers
qrcode
pillow
django-ratelimit
PyJWT
drf-spectacular
dj-database-url-3.1.2 
psycopg2-binary-2.9.11