djangorestframework
djangorestframework-simplejwt
pillow
qrcode
django-filter
python-dotenv
gunicorn
requests
whitenoise
django-cors-headers
qrcode
pillow
django-ratelimit
PyJWT
drf-spectacular
   # or paystack integration
